<div class="document-container {{classes}}" id="{{ id }}"> 
	<div class="document-header"> 
	
		<div class="document-header-left"> 
      <p class="resource-title">{{ title }}</p>
		</div> 
		
		<div class="document-header-right"> 						
			<input type="button" class="document-header-button document-expand-button" value="X" />
			<input type="button" class="document-header-button document-close-button" value="X" /> 
		</div> 
	</div> 
	<div class="document-content"> 
		<div class="document-wrapper"> 
		</div> 					
	</div> 
	<div class="document-about"></div>  
</div>