<div class="document-container {{ classes }}" id="{{ id }}"> 
	<div class="document-header"> 
	
		<div class="document-header-left"> 
			<div class="document-header-input"> 
				<input type="text" class="document-input" /> 
			</div> 

			<div class="document-header-selector"> 
				<span>NASB</span> 
				<select class="document-selector">{{ options }}</select> 
        <!-- <select class="document-selector" name="{{ id }}-document-selector" id="{{ id }}-document-selector">{{ options }}</select>  -->
			</div>  
		</div> 
		
		<div class="document-header-right">
      <div class="document-header-right-settings">
  			<input type="button" class="document-header-button document-settings-button" value="O" />
      </div>
      <div class="document-header-right-buttons"> 
  			<input type="button" class="document-header-button document-info-button" value="i" />
  			<input type="button" class="document-header-button document-search-button" value="S" /> 
  			<input type="button" class="document-header-button document-audio-button" value="A" /> 
  			<input type="button" class="document-header-button document-lock-button " value="L" /> 						
  			<input type="button" class="document-header-button document-close-button" value="X" /> 
        <!-- <input type="button" class="document-header-button document-settings-close-button" value="O" /> -->
      </div>
		</div> 
	</div> 
	<div class="document-content"> 
		<div class="document-wrapper"> 
		</div> 					
	</div> 
	<div class="document-about"></div>  
	<div class="document-footer"> 
		&nbsp;  
	</div> 
	<div class="document-footer-resize"></div> 
</div>