<div id="iframe-header">
  <div id="iframe-header-wrapper">
    <div id="iframe-links">
      <!-- <a href="#" onclick="JavaScript:parent.$.fancybox.close();">close this page [x]</a> -->
      <a id="iframe-new-window" href="{{ url }}" target="_blank"><img src="css/images/new-window.png" alt="open in a new window" title="open in a new window"></a>
    </div>
    <p id="iframe-disclaimer">This external resource may be helpful for study. We are not responsible for the content of third-party sites.</p>
  </div>
</div>
<div id="iframe-wrapper">
  <iframe src="{{ url }}"></iframe>
</div>