<div id="iframe-header">
  <div id="iframe-header-wrapper">
    <img src="https://internal.calvinseminary.edu/canvas/files/header_logo.png" />
    <div id="iframe-links">
      <!-- <a href="#" onclick="JavaScript:parent.$.fancybox.close();">close this page [x]</a> -->
      <a id="iframe-new-window" href="{{ url }}" target="_blank">open in new window</a>
    </div>
    <p id="iframe-disclaimer">This external resource may be helpful for study. We are not responsible for the content of third-party sites. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
</div>
<div id="iframe-wrapper">
  <iframe src="{{ url }}"></iframe>
</div>