<span class="lex-entry lemma-popup">
  <span class="lemma {{ strongLetter }}">{{ lemma }}</span> (<span class="strongs-number">{{ strongKey }}</span>)
  <span class="morphology">{{ formattedMorph }}</span>
  <div class="find-links">
    <span class="strong-search" data-strong="{{ strongKey }}">Find all occurrences (approximately {{ frequency }})</span>
    <div><a href="" class="strong-link">Find on BibleHub.com</a></div>
  </div>
  <hr />
  <span class="definition">{{ definition }}</span>
  <div class="outline">{{ outline }}</div>
</span>